//
// Typography
// ----------

@font-face {
	font-family: 'ff_tisa_web_pro';
	src: url('/fonts/elastic-core/ff-tisa-web-pro.eot');
	src: 	url('/fonts/elastic-core/ff-tisa-web-pro.woff') format('woff'), 
		url('/fonts/elastic-core/ff-tisa-web-pro.ttf') format('truetype'), 
		url('/fonts/elastic-core/ff-tisa-web-pro.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'sofia_problack';
	src: url("/fonts/elastic-core/sofia-pro-black-webfont.eot");
	src: 	url("/fonts/elastic-core/sofia-pro-black-webfont.eot?#iefix") format("embedded-opentype"),
		url("/fonts/elastic-core/sofia-pro-black-webfont.woff") format("woff"),
		url("/fonts/elastic-core/sofia-pro-black-webfont.ttf") format("truetype"),
		url("/fonts/elastic-core/sofia-pro-black-webfont.svg#sofia_problack") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'sofia_pro_regular';
	src: url("/fonts/elastic-core/sofia-pro-regular-webfont.eot");
	src: 	url("/fonts/elastic-core/sofia-pro-regular-webfont.eot?#iefix") format("embedded-opentype"),
		url("/fonts/elastic-core/sofia-pro-regular-webfont.woff") format("woff"),
		url("/fonts/elastic-core/sofia-pro-regular-webfont.ttf") format("truetype"),
		url("/fonts/elastic-core/sofia-pro-regular-webfont.svg#sofia_pro_regularregular") format("svg");
	font-weight: normal;
	font-style: normal;
}


// 
// Globals
// -------

// Font families
$font-primary: "ff_tisa_web_pro", "Arial", sans-serif !default;
$font-secondary: "sofia_pro_regular", "Arial", sans-serif !default;
$font-mono: "Consolas", monospace !default;
$font-print-primary: "Georgia", "Times New Roman", "Times", serif !default;
$font-print-secondary: "Georgia", "Times New Roman", "Times", serif !default;


//
// Base styles
// =============================================================================

html {
	min-height: 100px;
	background-color: getColor(background, body);

}

body {
	line-height: 1.6;
	border: 0.5rem solid getColor(background, body);
	background-color: getColor(background, light);
	transition: border $transition-duration;
}



.panel {
    overflow-y: scroll;
    background: none repeat scroll 0 0 #fff;
    box-sizing: border-box;
    outline: medium none;
    padding: 4px;
    height: typeScale(7);
    display: inline-block;
    width: 100%;
}

.content-panel {

    @media (--only-small-medium) {
        padding-left: 30px;
        padding-right: 2px;
    }

	@media (--only-medium-large) {
		padding-right: 3px;
		padding-left: 30px;
	}

	.portfolio-item {
		border: 1px solid #aaaaaa;
		margin-bottom: 0;
	}
} 

.preview-panel {
    
    @media (--only-small-medium) {
        padding-right: 30px;
        padding-left: 2px;
    }

	@media (--only-medium-large) {
		padding-left: 3px;
		padding-right: 30px;
	}

	.portfolio-item {
		border: 1px solid #aaaaaa;
		margin-bottom: 0;
	}
}

#comment-area {

	#default-comment-item {
		display: none;
	}

	#comment-submit {

	}

	.comment-panel {

		margin-bottom: 40px;

		div[grid]:nth-of-type(1) {
			padding-top: 15px;
			background-color: white;
		}	

		div[grid]:nth-of-type(2) {
			padding-bottom: 5px;
			background-color: white;
		}

		textarea {
			overflow: hidden;
			margin-bottom: 5px;
			height: typeScale(10);
		}
	}

	#comment-items {

		.portfolio-item {
			border-bottom: 0px;
			margin-bottom: 5px;
		}

		.comment-item {

			background-color: white;
			padding: 10px 0 10px 0;

			p {
				display: block;
				text-align: justify;
				vertical-align: top;
			}

			img {
				margin-top: 2px;
				border: 1px solid #cde;
				display: inline-block;
			}

			.comment-block {

				display: block;

				p {
					margin: 0;
				}
			}
		}
	}

	#more-item {
		background-color: white;
		padding-top: 15px;
		cursor: pointer;
	}
}

.modal {
	opacity: 1;
	display: none;
	pointer-events: all;

	.modal-body {
		text-align: center;
	}

	p, ul {
		display: none;
		padding-left: 0px;
	}

	ul li {
		display: none;
		list-style: none;
		padding-bottom: typeScale(1);
	}

	button {
		margin-top: typeScale(1);
	}
}

	

//
// Section
// ============

#section {

	#default-portfolio-item {
		display: none;
	}

	.empty-portfolio-item {
		display: none;
	}
}

//
// Add top margin to section
// =================

.low-section {
	margin-top: typeScale(10);
}

//
// Home section
// ============

.home-section {

	text-align: center;

	h1 {
		letter-spacing: 0.05em;
		margin-bottom: typeScale(6);
		margin-top: typeScale(6);
		text-transform: uppercase;
        
		@media (--only-small-medium) {
			margin-bottom: typeScale(2);
		}

		&::after { 
			content: none;
		}

		span:first-of-type {
			color: getColor(base, primary);
      			margin-right: 0.5em;
     		}
	}
}

/*
button {
	font-size: typeScale(5);
	font-weight: normal;
	color: $white;
	line-height: typeScale(4);
	padding: 0 2em;
	font-family: $font-secondary;
}
*/

//
// Navigation button
// =============================================================================
// <a href="#" id="search-button" class="fa fa-search"><span>Search</span></a>

#search-button {

	position: fixed;
	right: typeScale(3.5);
	top: typeScale(7);
	color: getColor(text, primary);

	span {
		display: none;
	}

	&:focus {
		outline: 0; 
	}

	&:focus, &:hover {
		color: getColor(base, primary);
	}
}

.nav-button {
    
	height: typeScale(4);
	position: fixed;
	top: typeScale(5);
	right: typeScale(5);
	overflow: hidden;
	text-indent: 100%;
	transition: transform 0.5s, background-color $transition-duration;
	white-space: nowrap;
	width: typeScale(5);
	z-index: 3;

	&:focus { 
		outline: 0;
	}

	&:focus, &:hover {
		.nav-icon {
			background-color: getColor(base, primary);
		}
	}

	// Burger menu icon
	.nav-icon {
        
		background-color: getColor(text, primary);
		bottom: auto;
		height: 3px;
		left: 50%;
		position: absolute;
		right: auto;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		transition: 0.5s;
		width: 22px;

		&::before, &::after {
            
			backface-visibility: hidden;
			background-color: inherit;
			content: '';
			height: 100%;
			right: 0;
			position: absolute;
			top: 0;
			transform: translateZ(0);
			transition: transform 0.5s, width 0.5s, top 0.3s;
			width: 100%;
		}

		&::before { 
			transform: translateY(-6px); 
		}
		
		&::after { 
			transform: translateY(6px); 
		}
	}
}


.logo {

    height: typeScale(9);
    
    img { 
        height: 100%; 
    }
    
    &:hover { 
        animation-name: logo-pulse; 
    }
}


//
// Sidebar navigation
// =============================================================================

.nav {
    
	font-family: $font-secondary;
	font-size: typeScale(2);
	height: 100%;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	transition: visibility 0s 0.7s;
	visibility: hidden;
	width: 20em;
	z-index: 2;

	.logo {
		height: typeScale(10);
		display: inline-block;
		margin-bottom: typeScale(6);
		width: 100%;
   		text-align: center;
	}

	a {
		color: getColor(text, secondary);
        letter-spacing: .75px;
		text-transform: uppercase;

		&.active, &:hover, &:focus { 
			color: white; 
        }

		&.active {
			font-weight: bold; 
		}
	}

	li { 
		list-style: none; 
	}

	ul {
		padding-left: 0;
		margin-bottom: $spacing-s;

		&:last-of-type { 
            margin-bottom: typeScale(6);
        }
	}

	p {
		color: white;
		margin-bottom: typeScale(2);
		margin-top: 0;
       		font-weight: bold;
	}

	.nav-wrapper {
		background-color: getColor(background, dark);
		height: 100%;
		overflow-y: hidden;
		padding: typeScale(6) typeScale(4);
		transform: translate(100%, 0);
		transition: transform 0.7s;
	}
}

// When the navigation is open
.nav--open {

	// Make the navigation visible
	.nav {
		transition: visibility 0s 0s;
		visibility: visible;

		// Move the navigation
		.nav-wrapper {
			transform: translateX(0);
			transition: transform 0.5s;
		}
	}

	.nav-button {
		&:focus, &:hover {
			.nav-icon {
				background-color: transparent;
			}
		}
	}

	// Animate icon
	.nav-icon {
		background-color: transparent;

		&::after, &::before {
			transition: transform 0.5s;
			background-color: getColor(base, primary);
		}

		&::before { 
			transform: rotate(45deg); 
		}
		
		&::after { 
			transform: rotate(-45deg); 
		}
	}
}


//
// Main footer
// =============================================================================

.main-footer {

	font-family: $font-secondary;
	font-size: typeScale(2);
	margin-top: typeScale(2);
	padding: typeScale(3) 0;

	a {
		color: getColor(text, primary);
		font-weight: bold;

		&:hover, &:focus {
			color: getColor(base, primary);
		}
	}

	p {
		color: getColor(text, secondary);
		margin-bottom: 0;

        @media (--only-small-medium) {
            text-align: center;
        }
        
        @media (--only-medium-large) {
			float: left;
		}
		
		a {
			color: getColor(text, secondary);
		}
	}

	ul {
		margin-bottom: 0;
		margin-top: typeScale(1);
		padding: 0;
    
		@media (--only-small-medium) {
            text-align: center;
        }
        
        @media (--only-medium-large) {
			float: right;
			margin-top: 0;
		}
	}

	li {
		display: block;
		padding: 0;
		line-height: 2;
		text-transform: uppercase;
		letter-spacing: 1px;

		@media (--only-medium-large) {
			display: inline-block;
			line-height: inherit;

			&:not(:last-of-type) {
				margin-right: 2em; 
			}
		}
	}
}



//
// Main header
// ===========

.main-header {
    
	font-family: $font-secondary;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-width: none;
	padding-top: typeScale(5);

	@media (--only-small-medium) {
		padding-top: typeScale(3);
	}

	.logo {
		position: relative;

		@media (--only-small) {
			left: 10%;
		}
		
		@media (--only-medium) {
			left: 15%;
		}
		
		@media (--large) {
			left: 20%;
		}

		img {

			@media (--only-small) {
				width: typeScale(6);
				height: typeScale(6);
			}
			
			@media (--only-medium) {
				width: typeScale(8);
				height: typeScale(8);
			}
			
			@media (--large) {
				width: typeScale(10);
				height: typeScale(10);
			}
		}
	}
}


//
// Inputs
// ===========

input, select, textarea {
    
	font-family: $font-secondary;
	background-color: $white;
	font-size: typeScale(2);
	width: 100%;
    
	&:not([type="submit"]) {
		margin-bottom: 10px;
		font-size: typeScale(2);
	}
}

.view-post {
    
	margin-top: typeScale(11);

	.portfolio-item {
		border-bottom: 0px;
	}
}

