<!DOCTYPE html>

<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<title>{{locale "site-title"}}</title>

		<meta name="description" content="Elastic-Blog">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" type="text/css" href="/styles/gloowm/gloowm.scss">
		<link rel="stylesheet" type="text/css" href="/styles/elastic-core/font-awesome.css">
		<link rel="icon" href="/images/gloowm/favicon.png">

		<script type="text/javascript" src="/libs/elastic-core/jquery/jquery.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="/libs/gloowm/rho.js" charset="utf-8"></script>
		<script type="text/javascript" src="/scripts/elastic-core/shared.js" charset="utf-8"></script>

		<script type="text/javascript">
			{{{defaultjs}}}
		</script>
	</head>

	<body>

		<div id="error-window" class="modal modal--flat">
			<div class="modal-container">
				<div class="modal-body">
					<ul id="error-message" class="message-list"><li class="default-item">&nbsp;</li></ul>
					<button class="-success close-window">{{locale "ok-button"}}</button>
				</div>
			</div>
		</div>

		<div id="search-window" class="modal modal--flat">
			<div class="modal-container">
				<div class="modal-body">
					<input id="search-terms" type="text" class="panel" placeholder="Keywords" value=""/>
					<button class="-error close-window">{{locale "cancel-button"}}</button>
					<button class="-success" id="search-submit-button">{{locale "search-button"}}</button>
				</div>
			</div>
		</div>

		<div id="contact-window" class="modal modal--flat">
			<div class="modal-container">
				<div class="modal-body">
					<ul id="contact-message" class="message-list"><li class="default-item">&nbsp;</li></ul>
					<input id="contact-email" type="text" class="panel" placeholder="YOUR EMAIL" value=""/>
					<textarea id="contact-text" name="contact-text" class="panel portfolio-item" placeholder="MESSAGE"></textarea>
					<button class="-error close-window">{{locale "cancel-button"}}</button>
					<button class="-success" id="contact-submit">{{locale "send-button"}}</button>
				</div>
			</div>
		</div>

		<div id="contact-verify-window" class="modal modal--flat">
			<div class="modal-container">
				<div class="modal-body">
					<ul id="contact-verify-message" class="message-list"><li class="default-item">&nbsp;</li></ul>
					<input id="contact-verify-pin" type="text" class="panel" placeholder="PIN CODE" value="" />
					<button class="-error close-window">{{locale "cancel-button"}}</button>
					<button id="contact-verify-submit" class="-success">Verify</button>
				</div>
			</div>
		</div>

		<div id="login-window" class="modal modal--flat">
			<div class="modal-container">
				<div class="modal-body">
					<ul id="login-message" class="message-list"><li class="default-item">&nbsp;</li></ul>
					<input id="login-email" type="text" class="panel" placeholder="Email" value=""/>
					<input id="login-password" type="password" class="panel" placeholder="Password" value=""/>
					<button class="-error close-window">{{locale "cancel-button"}}</button>
					<button class="-success" id="login-submit-button">{{locale "login-button"}}</button>
				</div>
			</div>
		</div>

		{{#compare pages.apiRegister.active "==" true}}
			<div id="register-window" class="modal modal--flat">
				<div class="modal-container">
					<div class="modal-body">
						<ul id="register-message" class="message-list"><li class="default-item">&nbsp;</li></ul>
						<input id="register-email" type="text" class="panel" placeholder="Email" value=""/>
						<input id="register-password" type="password" class="panel" placeholder="Password" value=""/>
						<input id="register-confirm" type="password" class="panel" placeholder="Confirm Password" value=""/>
						<button class="-error close-window">{{locale "cancel-button"}}</button>
						<button class="-success" id="register-submit-button">{{locale "register-button"}}</button>
					</div>
				</div>
			</div>
		{{/compare}}


		<header class="main-header">

			<a href="/" class="logo animated">
				<img src="/images/gloowm/logo2.svg" alt="Elastic-Blog">
			</a>

			<a href="#" id="nav-button" class="nav-button">Menu<span class="nav-icon"></span></a>

		</header>

		<!-- Main Body Start -->
			{{{body}}}
		<!-- Main Body End -->

		<footer class="main-footer">
			<div container>
				<p>{{{locale "site-footer"}}}</a>

				<ul>
					<li>
						<a href="#contact-window" class="open-window">Contact</a>
					</li>
					<li>
						<a href="https://github.com/neonnds/Elastic-Blog/issues">Support</a>
					</li>
					<li>
						<a href="https://github.com/neonnds/Elastic-Blog/releases">Changelog</a>
					</li>
					<li>
						<a href="https://github.com/neonnds/Elastic-Blog">Github</a>
					</li>
				</ul>
			</div>
		</footer>

		<div class="nav">
			<div class="nav-wrapper">

				<a href="/" class="logo animated"><img src="/images/gloowm/logo2.svg" alt="{{locale "site-name"}}"></a>

				<nav>
					<ul>
						{{#compare pages.home.uri "===" page.uri}}
							<li><a href="/" class="active">HOME</a></li>
						{{else}}
							<li><a href="/">HOME</a></li>
						{{/compare}}	

						{{#compare pages.search.uri "===" page.uri}}
							<li><a href="#search-window" class="active open-window">SEARCH</a></li>
						{{else}}
							<li><a href="#search-window" class="open-window">SEARCH</a></li>
						{{/compare}}	

						{{#if user}}

							{{#compare pages.newPost.uri "===" page.uri}}
								<li><a href="{{{pages.newPost.uri}}}" class="active open-window">EDITOR</a></li>
							{{else}}
								<li><a href="{{{pages.newPost.uri}}}" class="open-window">EDITOR</a></li>
							{{/compare}}	

								<li><a href="{{{pages.logout.uri}}}" class="open-window">LOGOUT</a></li>

						{{else}}

							{{#compare pages.apiRegister.active "==" true}}
								<li><a href="#register-window" class="open-window">REGISTER</a></li>
							{{/compare}}

							<li><a href="#login-window" class="open-window">LOGIN</a></li>

						{{/if}}
					</ul>

					{{#compare pages.newPost.uri "===" page.uri}}

						<p>ACTIONS</p>
				
						<ul>
							<li><a href="#load-window" id="menu-load-button" class="open-window">LOAD</a></li>
							<li><a href="#export-window" id="menu-export-button" class="open-window">EXPORT</a></li>
							<li><a href="#import-window" id="menu-import-button" class="open-window">IMPORT</a></li>
							<li><a href="#delete-window" id="menu-delete-button" class="open-window">DELETE</a></li>
							<li><a href="#preview-window" id="menu-preview-button" class="open-window">PREVIEW</a></li>
							<li><a href="#save-window" id="menu-save-button" class="open-window">SAVE</a></li>
						</ul>

					{{else}}

						<p>POSTS BY DATE</p>

						<ul>
							<li><a href="{{pages.homeByDate.base}}/today/today">TODAY</a></li>
							<li><a href="{{pages.homeByDate.base}}/week/week">THIS WEEK</a></li>
							<li><a href="{{pages.homeByDate.base}}/month/month">THIS MONTH</a></li>
							<li><a href="{{pages.homeByDate.base}}/2017-01/2017-12">YEAR 2017</a></li>
							<li><a href="{{pages.homeByDate.base}}/2016-01/2016-12">YEAR 2016</a></li>
							<li><a href="{{pages.homeByDate.base}}/2015-01/2015-12">YEAR 2015</a></li>
							<li><a href="{{pages.homeByDate.base}}/2014-01/2014-12">YEAR 2014</a></li>
							<li><a href="{{pages.homeByDate.base}}/2013-01/2013-12">YEAR 2013</a></li>
						</ul>

						<p>POSTS BY TAGS</p>

						<ul id="tags">
							<li id="default-tag-item" class="tag"><a href="#">&nsbp;</a></li>
						</ul>

					{{/compare}}

				</nav>
			</div>
		</div>
	</body>
</html>
