<!DOCTYPE html>

<html>
	<head>
		<title>Bomblah.</title>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<link type="image/x-icon" rel="icon" href="/images/elastic-core/favicon.ico">

		<link rel="stylesheet" type="text/css" href="/styles/elastic-core/font-awesome.css"/>

		<link rel="stylesheet" type="text/css" href="/styles/elastic-core/topcoat.css"/>

		<link rel="stylesheet" type="text/css" href="/styles/elastic-core/core.css">

		<link rel="stylesheet" type="text/css" href="/styles/elastic-blog/core.css">

		<script type="text/javascript" src="/libs/elastic-core/jquery/jquery.min.js" charset="utf-8"></script>

		<script type="text/javascript" src="/scripts/elastic-core/shared.js" charset="utf-8"></script>

		<script type="text/javascript" src="/scripts/elastic-blog/shared.js" charset="utf-8"></script>

		<script type="text/javascript" src="/libs/elastic-blog/textile.js" charset="utf-8"></script>
	</head>

	<script type="text/javascript">

		$(document).ready(function() {
			
			$('#search-button').click(function() {

				if($('#search-field').is(":visible") == true) {
					var query = $('#search-field').val();

					window.location.replace("{{pages.search.base}}/" + query);
	
					return;
				}

				$('#home-menu-item').hide();
				$('#posts-menu-item').hide();
				$('#search-field').show();
				$('#cancel-search-button').css('display', 'inline-block');
				
				{{#if user}}

					$('#admin-menu-item').hide();
					$('#logout-menu-item').hide();

				{{else}}

					$('#login-menu-item').hide();
					$('#register-menu-item').hide();

				{{/if}}
			});

			$('#cancel-search-button').click(function() {

				$('#home-menu-item').show();
                                $('#posts-menu-item').show();
                                $('#search-field').hide();
                                $('#cancel-search-button').hide();
                                
                                {{#if user}}

                                        $('#admin-menu-item').show();
                                        $('#logout-menu-item').show();

                                {{else}}

                                        $('#login-menu-item').show();
					$('#register-menu-item').show();

                                {{/if}}
			});

			$('#login-submit-button').click(function() {

				var email = $('#login-email').val();
				var password = $('#login-password').val();
			
				var loginPost = $.post('{{pages.apiLogin.uri}}', {'email' : email, 'password' : password});

				loginPost.success(function(result) {

					console.log(result);

					if(result == null || result.success == false) {


					} else {

						if(result.success == true) {

							window.location.replace("{{pages.home.uri}}");	
						}
					}
				});

				loginPost.error(errorHandler);
			});

			$('#register-submit-button').click(function() {

				var email = $('#register-email').val();
				var password = $('#register-password').val();
				var confirm = $('#register-confirm').val();
			
				var registerPost = $.post('{{pages.apiRegister.uri}}', {'email' : email, 'password' : password, 'confirm' : confirm});

				registerPost.success(function(result) {

					console.log(result);

					if(result == null || result.success == false) {


					} else {

						if(result.success == true) {

							//window.location.replace("{{pages.home.uri}}");	
							$('#register-lightbox').hide();
							$('#login-lightbox').show();
						}
					}
				});

				registerPost.error(errorHandler);
			});

			$('#menu-login-button').click(function() {
				$('#login-lightbox').show();	
			});

			$('#menu-register-button').click(function() {
				$('#register-lightbox').show();	
			});

			$('#login-cancel-button').click(function() {
				$('#login-lightbox').hide();
			});

			$('#register-cancel-button').click(function() {
				$('#register-lightbox').hide();
			});

			$('#error-ok-button').click(function() {
				$('#error-lightbox').hide();
			});
		});

	</script>

	<body>

		<div id="login-lightbox" class="lightbox">
			<div class="lightbox-details">
				<input id="login-email" name="login-email"  type="text" class="panel" placeholder="Email" value="">
				<input id="login-password" name="login-password" type="password" class="panel" placeholder="Password" value="">

				<div class="blog-button" id="login-cancel-button"><span>Cancel</span></div>
				<div class="blog-button" id="login-submit-button"><span>Login</span></div>
			</div>
		</div>

		<div id="register-lightbox" class="lightbox">
			<div class="lightbox-details">
				<input id="register-email" name="register-email"  type="text" class="panel" placeholder="Email" value="">
				<input id="register-password" name="register-password" type="password" class="panel" placeholder="Password" value="">
				<input id="register-confirm" name="register-confirm" type="password" class="panel" placeholder="Confirm Password" value="">

				<div class="blog-button" id="register-cancel-button"><span>Cancel</span></div>
				<div class="blog-button" id="register-submit-button"><span>Register</span></div>
			</div>
		</div>

		<div id="error-lightbox" class="lightbox">
			<div class="lightbox-details">
				<h4>&nbsp;</h4>
				<div class="blog-button" id="error-ok-button"><span>Ok</span></div>
			</div>
		</div>

		<div id="pageWrap">
			<div id="mainHeader">
			
				<div class="container">

					<div class="header-title">
						Bomblah.
					</div>

					<div class="menuPC">
						<ul class="sf-menu">

							<li class="menu-item">
								<i id="cancel-search-button" class="fa fa-times-circle menu-button">&nbsp;</i>
								<input type="text" name="search-field" id="search-field" autocomplete="off" placeholder="SEARCH" value="">
								<i id="search-button" class="fa fa-search menu-button">&nbsp;</i>
							</li>

							<li id="home-menu-item" class="menu-item">
								<a href="{{{pages.home.uri}}}">HOME</a>
							</li>

							<li id="posts-menu-item" class="menu-item">
								<a href="#" class="sf-with-ul">POSTS</a>
								<ul class="posts-menu">
									<li class="menu-item"><a href="{{pages.homeByYear.base}}/2013">YEAR 2013</a></li>
									<li class="menu-item"><a href="{{pages.homeByYear.base}}/2014">YEAR 2014</a></li>
									<li class="menu-item"><a href="{{pages.homeByYear.base}}/2015">YEAR 2015</a></li>
								</ul>
							</li>

							{{#if user}}

								<li id="admin-menu-item" class="menu-item">
									<a href="#" class="sf-with-ul">ADMIN</a>
									<ul class="admin-menu">
										<li class="menu-item"><a href="{{{pages.newPost.uri}}}">NEW POST</a></li>
										<li class="menu-item"><a href="{{{pages.newQuote.uri}}}">NEW QUOTE</a></li>
										<li class="menu-item"><a href="{{{pages.viewQuotes.uri}}}">VIEW QUOTES</a></li>
										<!--<li class="menu-item"><a href="{{{pages.viewComments.uri}}}">VIEW COMMENTS</a></li>-->
									</ul>
								</li>

								<li id="logout-menu-item" class="menu-item">
									<a href="{{{pages.logout.uri}}}">LOGOUT</a>
								</li>

							{{else}}

								<li id="login-menu-item" class="menu-item">
									<span id="menu-register-button">REGISTER</span>
								</li>

								<li id="login-menu-item" class="menu-item">
									<span id="menu-login-button">LOGIN</span>
								</li>

							{{/if}}

						</ul>
					</div>

					<div class="clear"></div>
				</div>
			</div>

			<div id="mainBody">
				<div class="container">
					<div id="section">

						{{{body}}}

					</div> 
				</div>
			</div>

			<div id="mainCopyright">
				<div class="container">
					<p>&copy; 2013 Bomblah</p>
				</div>
			</div>
		</div>

	</body>

</html>
