<script type="text/javascript">
	{{{saveQuotejs}}}
</script>

<div id="delete-lightbox" class="lightbox">
	<div class="lightbox-details">
		<h4>Really delete this quote?</h4>
		<div class="blog-button" id="delete-cancel-button"><span>Cancel</span></div>
		<div class="blog-button" id="delete-submit-button"><span>Delete</span></div>
	</div>
</div>

<div id="save-lightbox" class="lightbox">
	<div class="lightbox-details">
		<h4>The quote has been saved.</h4>
		<div class="blog-button" id="save-close-button"><span>Close</span></div>
	</div>
</div>

<div class="save-button-pager">

	{{#is pages.updateQuote.uri "===" page.uri}}

		{{#is quote.live "===" "true"}}

			<div class="blog-button blog-button-active" id="live-button"><span>Live</span></div>

		{{else}}

			<div class="blog-button" id="live-button"><span>Live</span></div>
		{{/is}}

		<div class="blog-button" id="delete-button"><span>Delete</span></div>

	{{else}}

		<div class="blog-button" id="live-button"><span>Live</span></div>
	{{/is}}


	<div class="blog-button" id="save-button"><span>Save</span></div>
</div>

<input type="text" id="uri" class="panel" name="uri" placeholder="URI" value="{{quote.uri}}" />

<div class="tx-shadow panel"></div>

<textarea id="content" class="tx-input panel" name="content" placeholder="CONTENT">{{quote.content}}</textarea>

<div id="preview" class="tx-preview panel portfolio-item"></div>


