<script type="text/javascript">
	{{{savePostjs}}}
</script>

<div id="delete-lightbox" class="lightbox">
	<div class="lightbox-details">
		<h4>Really delete this post?</h4>
		<div class="blog-button" id="delete-cancel-button"><span>Cancel</span></div>
		<div class="blog-button" id="delete-submit-button"><span>Delete</span></div>
	</div>
</div>

<div id="save-lightbox" class="lightbox">
	<div class="lightbox-details">
		<h4>The post has been saved.</h4>
		<div class="blog-button" id="save-close-button"><span>Close</span></div>
	</div>
</div>

<div class="save-button-pager">

	{{#is pages.updatePost.uri "===" page.uri}}

		{{#is post.live "===" "true"}}

			<div class="blog-button blog-button-active" id="live-button"><span>Live</span></div>

		{{else}}

			<div class="blog-button" id="live-button"><span>Live</span></div>
		{{/is}}

		<div class="blog-button" id="delete-button"><span>Delete</span></div>

	{{else}}

		<div class="blog-button" id="live-button"><span>Live</span></div>

	{{/is}}

	<div class="blog-button" id="save-button"><span>Save</span></div>
</div>

<select id="group" name="group" class="panel">
	<option value="quote" {{#is post.group "===" "quote"}}selected="selected"{{/is}}>QUOTE</option>
	<option value="summary" {{#is post.group "===" "summary"}}selected="selected"{{/is}}>SUMMARY</option>
	<option value="article" {{#is post.group "===" "article"}}selected="selected"{{/is}}>ARTICLE</option>
</select>

<input type="text" id="uri" class="panel" name="uri" placeholder="URI" value="{{post.uri}}" />

<div class="tx-shadow panel"></div>

<textarea id="content" class="tx-input panel" name="content" placeholder="CONTENT">{{post.content}}</textarea>

<div id="preview" class="tx-preview panel portfolio-item"></div>


