<script type="text/javascript">

	$(document).ready(function() {

		$('#save-button').click(function() {

			var uri = $('#uri').val();
			var content = $('#content').val();

			var isLive = false;

			if($('#live-button').hasClass('blog-button-active') == true) {
				isLive = true;
			}

			var saveQuote = $.post('{{pages.apiSaveQuote.uri}}', {'uri' : uri, 'content' : content, 'live' : isLive});

			saveQuote.success(function(result) {

				if(result == null || result.success == false) {

					window.location.replace("/error");

				} else {

					if(result.success == true) {

						$('#save-lightbox').show();

						$('#save-close-button').click(function() {
							window.location.replace("{{pages.updateQuote.base}}/" + uri);	
						});
					}
				}
			});

			saveQuote.error(errorHandler);
		});

		$('#live-button').click(function() {

			if($('#live-button').hasClass('blog-button-active') == true) {
		
				$(this).removeClass('blog-button-active');

			} else {

				$(this).addClass('blog-button-active');
			}
		});

		{{#is pages.updateQuote.uri "===" page.uri}}
	
			$('#delete-button').click(function() {

				$('#delete-lightbox').show();
			});

			$('#delete-cancel-button').click(function() {
				$('#delete-lightbox').hide();
			});

			$('#delete-submit-button').click(function() {

				var uri = $('#uri').val();

				var deleteQuote = $.post('{{pages.apiDeleteByURI.uri}}', {
					'uri' : uri, 
					'index' : 'quotes', 
					'type' : 'quote'
				});

				deleteQuote.success(function(result) {

					if(result == null || result.success == false) {

						window.location.replace("{{pages.home.uri}}");

					} else {

						if(result.success == true) {

							window.location.replace('{{pages.home.uri}}');	
						}
					}
				});

				deleteQuote.error(errorHandler);
			});

		{{/is}}

		function convert_text() {

			var text = $('#content').val();

			if( text && text == last ) {
				return;
			}

			last = text;

			var startTime = new Date() * 1;	

			var html = textile.parse( text );

			var endTime = new Date() * 1;
			processing_time = endTime - startTime;

			$('#preview').html(html);
		}

		function onInput( e ) {
			clearTimeout( convertTextTimer );
			defer_time = Math.min( processing_time, max_delay );
			convertTextTimer = setTimeout( convert_text, defer_time );
		}

		$('#content').bind( 'keyup', onInput ).focus();

		convert_text();
	});

</script>

<div id="delete-lightbox" class="lightbox">
	<div class="lightbox-details">
		<h4>Really delete this quote?</h4>
		<div class="blog-button" id="delete-cancel-button"><span>Cancel</span></div>
		<div class="blog-button" id="delete-submit-button"><span>Delete</span></div>
	</div>
</div>

<div id="save-lightbox" class="lightbox">
	<div class="lightbox-details">
		<h4>The quote has been saved.</h4>
		<div class="blog-button" id="save-close-button"><span>Close</span></div>
	</div>
</div>

<div class="save-button-pager">

	{{#is pages.updateQuote.uri "===" page.uri}}

		{{#is quote.live "===" "true"}}

			<div class="blog-button blog-button-active" id="live-button"><span>Live</span></div>

		{{else}}

			<div class="blog-button" id="live-button"><span>Live</span></div>
		{{/is}}

		<div class="blog-button" id="delete-button"><span>Delete</span></div>

	{{else}}

		<div class="blog-button" id="live-button"><span>Live</span></div>
	{{/is}}


	<div class="blog-button" id="save-button"><span>Save</span></div>
</div>

<input type="text" id="uri" class="panel" name="uri" placeholder="URI" value="{{quote.uri}}" />

<div class="tx-shadow panel"></div>

<textarea id="content" class="tx-input panel" name="content" placeholder="CONTENT">{{quote.content}}</textarea>

<div id="preview" class="tx-preview panel portfolio-item"></div>


