<script type="text/javascript">
	{{{savePostjs}}}
</script>

<div id="load-lightbox" class="lightbox">
	<div class="lightbox-details">
		<select id="load-type" name="load-type" class="panel">
			<option value="quote" selected="selected">QUOTE</option>
			<option value="summary">SUMMARY</option>
			<option value="article">ARTICLE</option>
		</select>
	
		<select id="default-load-select" name="load-select" class="panel">
			<option id="default-load-select-item" value="#">NO ITEMS FOUND!</option>
		</select>
	
		<br/>

		<div class="blog-button" id="load-cancel-button"><span>Cancel</span></div>
		<div class="blog-button" id="load-submit-button"><span>Load</span></div>
	</div>
</div>

<div id="delete-lightbox" class="lightbox">
	<div class="lightbox-details">
		<h4>Really delete this post?</h4>
		<div class="blog-button" id="delete-cancel-button"><span>Cancel</span></div>
		<div class="blog-button" id="delete-submit-button"><span>Delete</span></div>
	</div>
</div>

<div id="save-lightbox" class="lightbox">
	<div class="lightbox-details">
		<h4>The post has been saved.</h4>
		<div class="blog-button" id="save-close-button"><span>Close</span></div>
	</div>
</div>

<div class="save-button-pager">

	{{#is pages.updatePost.uri "===" page.uri}}

		{{#is post.live "===" "true"}}
			<div class="blog-button blog-button-active" id="live-button"><span>Live</span></div>
		{{else}}
			<div class="blog-button" id="live-button"><span>Live</span></div>
		{{/is}}

		<div class="blog-button" id="delete-button"><span>Delete</span></div>

	{{else}}

		<div class="blog-button" id="load-button"><span>Load</span></div>

		<div class="blog-button" id="live-button"><span>Live</span></div>

	{{/is}}

	<div class="blog-button" id="save-button"><span>Save</span></div>
</div>

<select id="group" name="group" class="panel">
	<option value="quote" {{#is post.group "===" "quote"}}selected="selected"{{/is}}>QUOTE</option>
	<option value="summary" {{#is post.group "===" "summary"}}selected="selected"{{/is}}>SUMMARY</option>
	<option value="article" {{#is post.group "===" "article"}}selected="selected"{{/is}}>ARTICLE</option>
</select>

<input type="text" id="uri" class="panel" name="uri" placeholder="URI" value="{{post.uri}}" />

<textarea id="content" name="content" class="tx-input panel">{{post.content}}</textarea>

<div id="preview" class="tx-input panel portfolio-item"></div>

