<script type="text/javascript">
	{{{viewjs}}}
</script>

{{#if user}}

	<div class="view-button-pager">
		<a href="{{pages.newPost.uri}}/{{uri}}" class="blog-button" id="edit-button"><span>Edit</span></a>
	</div>

{{/if}}

<div class="post-item">{{{content}}}</div>

<!--
<div id="default-portfolio-item" class="portfolio-item"></div>

<div id="empty-portfolio-item" class="portfolio-item"><h4>No comments found!</h4></div>

<div class="more-button-pager">
	<div class="blog-button" id="more-button"><span>More</span></div>
</div>
-->
